/*  used to import variables from another css file */
  @import "styles.css";

  *{
    margin: 0;
    padding: 0;
    border: auto;
  }


/*  styling html and body */
html, body {
    height: 100%;
    background: var(--clr-white);
}



/*  Formatting navbar */
.navbar{
    width: 100%;
    height: 75px;
    background: var(--clr-accent-100);
    position: relative;
    display: flex;
}

/*  Styling the index page/design system */
.col1 {
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    color: var(--clr-yellow);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
    justify-content: end;
    align-content: space-between;
    transition: all 0.5s ease;
    flex: 50%;
    float: left;
}


/* Styling the contents in topnav  */
  .col2 a{
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    color: var(--clr-yellow);
    text-decoration: none;
    display: block;
    align-content: space-between;
    transition: all 0.5s ease;
    float: right;
    flex: 50%;
}

/*  styling about-me and demo site */
.col2 a li{
    list-style: none;
    font-size: 17px;  
    padding: 14px 16px; 
}

/* Formatting the hamburger logo  */
.icon {
    font-size: 25px;
    padding: 10px 16px;
    right: 0;
    top: 0;
}

  /* Removing the underline effect in href  */
  a{
    text-decoration: none;
    color: inherit;
    outline: 0;
  }

  /* Hovers over contents in the top navbar  */
  a:hover{
    color: var(--clr-secondary-200);
    
  }

 /* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: var(--clr-secondary-100); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--clr-secondary-200);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: var(--clr-primary);
    background-color: var(--clr-white);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .active {
    color: var(--clr-red);
  }

  .ape {
    display: none;
  }

  .text-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);
  }
  
  .bg-secondary {
    background-color: var(--clr-secondary-100);
    color: var(--clr-white);
  }

  .bg-white {
    background-color: var(--clr-white);
    color: var(--clr-primary);
  }

  .text-light {
    background-color: var(--clr-secondary-200);
    color: var(--clr-primary);
  }

  .bg-accent {
    background-color: var(--clr-accent-100);
    color: var(--clr-primary);
  }

  .text-yellow {
    background-color: var(--clr-yellow);
    color: var(--clr-primary);
  }
  .active-red{
    background-color: var(--clr-red);
    color: var(--clr-primary);
  }
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
   @media screen and (max-width: 600px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .list li {display: none;}
    .ape{
        display: block;
        list-style: none;
    }
  }