.navbar{
    width: 100%;
    height: 75px;
    background: blue;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    align-content: space-between;
    
  }