html, body {
    height: 100%;
    background: #fff;
}

.navbar{
    width: 100%;
    height: 75px;
    background: blue;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    align-content: space-between;
    
  }

  .list {
    width: auto;
    height: auto;
    margin: auto;
    list-style: none;
    transition: all 0.5s ease;
    float: right;
    
}

/*  setting the font size of the li in the navbar */
 .list li {
    width: auto;
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-align: center;
    
 }

 .head {
    height: 20%;
    width: 10%;
    padding: 5px;
    float: left;
    margin-left: 20px;
    display: block;
    font-size: medium;
    color: white;
  }

  a{
    text-decoration: none;
    color: inherit;
    outline: 0;
  }

  a:hover{
    color: lightblue;
    
  }