
:root {
  --clr-primary: #000000;
  --clr-white: #ffffff;
  --clr-secondary-100: #333333;
  --clr-secondary-200: #F0F0F0;
  --clr-accent: #0066CC;
  --clr-red: #FF0000;
  --clr-yellow: #FFFFCC;

  --font-family-head: 'Calibri';
  --font-family-body: 'Cambria';
  --font-size-head: 30px;
  --font-size-body: 18px;
  --font-weight-head: bold;
  --font-weight-body: 500;
  --letter-spacing-head: 0.07em;
  --letter-spacing-body: 0.02em;
  --letter-spacing-type: 0.4em;
}
  

 